
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --font-family: 'Inter', sans-serif;
  --font-family-alt: 'Open Sans', sans-serif;
  --primary-color: #00ccff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-alt);
  color: var(--primary-color);
    margin: 0.5em 0;
}

.calculator {
    display: flex;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: rgb(133, 133, 133);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.calculator .display {
    flex: 1;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 1em;
}
.calculator .buttons button {
    padding: 1em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
}
.calculator .buttons button:hover {
    background-color: var(--secondary-color);
}
.calculator .buttons button:active{
    transition: ease-out 1s ;
    background-color: #6c757d;
}
.calculator .display input {
    width: 100%;
    padding: 1em;
    font-size: 95rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-sizing: border-box;
}
